<% unless current_user.full_profile? %>
  <header class="header_top panel panel-default col-lg-12 no-profile">
    <h2>まずは、あなたの基本プロフィールを登録しましょう！</h2>
    <p>Profyは友達の質問に答えながらプロフィールを作るサービスです！</p>
    <%= link_to "プロフィールを登録する", edit_user_path(current_user), { class: "btn btn-lg btn-primary withripple" } %>
  </header>
<% else %>
  <%= form_for(@question) do |f| %>
    <%= link_to current_user.name, user_path(current_user.id), method: :get %>
    <%= f.label :"質問を投稿してね！" %>
    <%= f.text_field :text, placeholder: "例：好きな食べ物は？" %>
    <%= f.submit "質問する" %>
  <% end %>
<% end %>